@{
    //nesta zona escrevemos código C#
    ViewData["Title"] = "Home Page";
}

<!--nesta zona vamos escrever HTML-->
@* este outro comentário está feito em RAZOR e é invisível no browser *@

<div class="text-center">
    <h1 class="display-4">Cálculo das Raízes de uma equação de 2º grau</h1>
</div>

<h2 class="text-center">Introduza os valores dos parâmetros da equação</h2>

<div class="col-3" style="margin:0px auto;">   
    <form>
        <div class="row pb-1"><input type="text" placeholder="a"></input></div>
        <div class="row pb-1"><input type="text" placeholder="b"></div>
        <div class="row pb-1"><input type="text" placeholder="c"></div>
        <br />
        <div class="row pb-1"><input type="submit" value="Calcular" /></div>
    </form>
</div>
