@{
    //nesta zona escrevemos código C#
    ViewData["Title"] = "Home Page";
}

<!--nesta zona vamos escrever HTML-->
@* este outro comentário está feito em RAZOR e é invisível no browser *@

<div class="text-center">
    <h1 class="display-4">Cálculo das Raízes de uma equação de 2º grau</h1>

</div>
